

<footer class="bg-Neutral-100 py-64 py-sm-32">
    <div class="container">
        <nav class="pb-24 d-flex align-center justify-between d-sm-block section-lined">
            <a class="mb-sm-8" href="./products.html"><img src="../assets/images/logo.svg" alt="logo"></a>
            <ul class="d-flex d-sm-block px-sm-12">
                <li class="me-40 me-sm-0 mb-sm-4">
                    <a href="products.html" class="py-12">商品列表</a>
                </li>
                <li>
                    <a href="story.html" class="py-12">品牌故事</a>
                </li>
            </ul>
        </nav>

        <p class="pt-24 text-sm">Copyright ©2025 URBNSTYLE <br>
            All Rights Reserved.</p>
    </div>




</footer>