

.page-item {
    .btn{
        padding: 8px 15px;
        border-radius: 0;
        width: 40px;
        height: 40px;
        
    }
    .active,
    &:hover{
        background-color: $primary-300;
        font-weight: 500;
    }
    
}

.page-icon{
    .btn{
        padding: 10px;
        width: 40px;
        height: 40px;
    }
    i{
        font-size: 20px;
    }
}


footer{
    .active{
        margin-right: auto;
    }
}


