

.page-item {
    .btn{
        padding: 8px 15px;
        border-radius: 0;
        
    }
    .active,
    &:hover{
        background-color: $primary-300;
        font-weight: 500;
    }
    
}


footer{
    .active{
        margin-right: auto;
    }
}


